.contactContainer {
  width: 980px;
  margin: 0 auto;
  padding-top: 125px;

  h1 {
    width: 190px;
    font-size: 30px;
    font-family: 'Proxima Nova thin', sans-serif;
      font-stretch: extra-condensed;
    border-bottom: solid 2px black;
    margin-bottom: 40px;
  }

  .contactForm {
    display: flex;
    justify-content: space-between;

    .map {
      width: 400px;
      margin-bottom: 50px;

      img {
        width: 400px;
        height: 442px;
        margin-bottom: 34px;
      }

      .directions {
        margin: 0;
        font-size: 18px;
        font-family: 'Gill Sans', sans-serif;
        font-style: normal;      }
    }

    .form {
      .textInput {
        width: 529px;
        margin-bottom: 20px;

        input {
          width: 529px;
          height: 60px;
          color: #707070;
          background-color: #f5f5f5;
          font-family: 'Gill Sans', sans-serif;
          font-size: 16px;

          font-style: normal; 
          border: none;
          padding: 20px;
        }
      }

      .messageInput {
        width: 529px;
        margin-bottom: 20px;

        input {
          width: 529px;
          height: 200px;
          color: #707070;
          background-color: #f5f5f5;
          font-family: 'Gill Sans', sans-serif;
          font-size: 16px;
          font-style: normal; 
          border: none;
          padding: 20px;
        }
      }

      .subBtn {
        width: 168px;
        height: 60px;
        background-color: #79addc;
        text-align: center;
        font-size: 16px;
        font-family: 'Gill Sans', sans-serif;
        font-style: normal;
        padding: 20px;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 1060px) {
  .contactContainer {
    margin: 0 50px;

    .contactForm {
      flex-direction: column;

      .form {
        .subBtn {
          margin-bottom: 50px;
        }
      }
    }
  }
}